.navbar {
  position: relative;
  top: 0vh;
}
.addToCart:hover {
  background-color: rgb(146, 141, 141);
}
.menu {
  display: none;
}
@media (max-width: 900px) {
  .menu {
    display: block;
  }
  .categoryList {
    display: none;
  }
}
