.dashboardContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.chartContainer {
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBarContainer {
  width: 100%;
  height: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}
.searchBar {
  width: 66%;
  height: 3rem;
  border-radius: 0.8rem;
  padding: 0rem 0.5rem;
}
.searchBar:focus {
  border: 2px solid rgb(164, 158, 158);
  outline: none;
}
.searchIcon {
  width: 2rem;
  height: 2rem;
  margin-left: -3rem;
}
.sidebarContainer {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(248, 242, 242);
  border-radius: 0.5rem;
  z-index: 1;
}
.btnContainer {
  display: flex;
  flex-direction: column;
}
.btn {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: start;
}
.columnChartContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}
.axes::-webkit-scrollbar {
  display: none;
}
.axes {
  width: 50vw;
  height: 80vh;
  border-bottom: 1.5px solid grey;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 0.5rem;
  padding: 1rem;
}
// .countryNameContainer {
//   width: 50vw;
//   display: flex;
//   flex-direction: row;
//   gap: 0.5rem;
//   overflow: auto;
// }
.columns {
  width: 3rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.3rem;
  background: #eae8e8;
}
.countryName {
  width: 3rem;
  display: flex;
  justify-content: center;
}
.numOfVisitors {
  width: 3rem;
  height: 80%;
  display: flex;
  justify-content: center;
  background: blue;
  border-radius: 0.2rem;
}
