.homepage {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.nav {
  width: 100vw;
  position: sticky;
  top: 0vh;
  z-index: 10;
}
.pageData {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.verticalNav {
  width: 15vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #180000;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0vh;
  left: 0vw;
}
.songList {
  width: 60vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #4c0000, #0a0a0a);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.hey {
  width: 85vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
}
.artistData {
  width: 85%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.artistBackground {
  width: 100%;
  height: 35vh;
  border: 1px solid transparent;
  border-radius: 0.9rem;
  background-image: url('/Background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}
.personalInfo {
  width: 40%;
  height: 100%;
}
.artistImage {
  width: 60%;
  height: 130%;
  position: relative;
  bottom: 10vh;
}
.songData {
  width: 95%;
  height: 30vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 5px transparent;
  transform: translateZ(20px);
}
.songData::-webkit-scrollbar {
  display: none;
}
.currentPlaying {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  background-image: linear-gradient(to bottom, #000000, #0f0f0f);
  flex-grow: 1;
  align-items: center;
  position: sticky;
  top: 0vh;
}
@media screen and (max-width: 900px) {
  .verticalNav {
    width: 10vw;
  }
  .pageData {
    justify-content: flex-start;
  }
  .hey {
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
  .currentPlaying {
    width: 100%;
    height: auto;
  }
  .songList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 500px){
  .artistImage{
    width: 20rem;
  }
}
