.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0vh;
}
.logo {
  width: 20vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.links {
  width: 60vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
}
ul {
  width: 40%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  color: white;
  cursor: pointer;
  flex-grow: 3;
}

ul li {
  text-decoration: none;
  font-size: 0.95rem;
}
.title {
  font-size: 0.95rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchBar {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.searchTag {
  width: 100%;
  height: 2.5rem;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  background-color: #2c0000;
  color: white;
  padding: 1rem;
}
input:focus {
  outline: none;
}
.hamburgerIcon {
  /* width: 20vw; */
  width: 0vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* flex-grow: 1; */
}
.threeDots {
  display: none;
  width: 30px;
  height: 30px;
  color: white;
}
.menu {
  width: 10rem;
  min-height: 5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vh;
  right: 2vw;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.2rem 0rem;
}
.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: auto;
  cursor: pointer;
  flex-grow: 1;
}
.verticalNavbar {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1rem;
  position: relative;
  top: 15vh;
}
.iconAndName{
  width: 16vw;
  width: 100%;
  min-height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.verticalNavbar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
.iconbox{
 width: 1.5rem;
 height:  1.5rem;
 color: white;

}
@media screen and (max-width: 860px) {
  ul {
    display: none;
  }
  .searchBar {
    width: 100%;
  }
  .threeDots {
    display: flex;
  }
  .links {
    width: 40vw;
  }
  .hamburgerIcon{
    width: 20vw;
  }
  .logo{
    flex-grow: 1;
  }
}
@media screen and (max-width: 500px) {
  .links {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .title {
    display: none;
  }
}