.homepageContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}
.homepageMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.forCopilotSign {
  width: 10rem;
  height: 2rem;
  border: 2px solid rgb(215, 209, 209);
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 2rem;
}
.forCopilotText {
  color: white;
  font-size: 2rem;
}
.leftSidebar {
  width: 50%;
  height: 100vh;
}
.animationContainer {
  width: 90%;
  height: 90%;
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
}
.animationHeader {
  width: 95%;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.optionsInAnimationHeader {
  width: 6rem;
  height: 3rem;
  align-content: center;
  color: black;
  transition: ease 1s;
  text-align: center;
}
.leftSidebarTitle {
  color: white;
}
.chatAnimationContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(186, 179, 228);
}
.startChatButton {
  width: 6rem;
  height: 2.5rem;
  background: linear-gradient(to right, rgb(186, 179, 228), white);
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.leftSidebar {
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.6s ease;
  animation: shrinkRight 1s forwards ease;
  overflow: hidden;
}
.chatAnimationContainer {
  transition: all 0.6s ease;
  overflow: hidden;
  animation: expandLeft 1s forwards ease;
  transform: scaleX(2);
  transform-origin: right;
  position: relative;
}

.leftSidebar.collapsed {
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
}
.chatAnimationContainer.expanded {
  width: 100%;
  height: 100%;
}
.animationContainer {
  position: absolute;
  opacity: 0;
  top: 0px;
  transform: translateY(100%);
  animation: moveUp 1.5s 1.7s ease forwards;
}
.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  opacity: 0;
  transform: translateY(-100%);
  animation: moveDown 1.5s 1s ease forwards;
}
.botNameAndIntro {
  flex: 1;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 900px) {
  .homepageMain {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .leftSidebar {
    width: 100vw;
    height: 90vh;
  }
  .chatAnimationContainer {
    width: 100vw;
    height: 90vh;
  }
  .homepageMain {
    height: auto;
  }
}
@keyframes expandLeft {
  to {
    transform: scaleX(1);
  }
}

@keyframes shrinkRight {
  to {
    transform: scaleX(1);
  }
}
@keyframes moveUp {
  to {
    transform: translateY(5vh);
    opacity: 1;
  }
}
@keyframes moveDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
